# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.zip
*.tar.gz
*.rar
*.7z

# Maven
target/
dependency-reduced-pom.xml

# IntelliJ
.idea/
*.iml
out/

# Mac
.DS_Store

# VS Code
.project
.settings/
